<a href="https://colab.research.google.com/github/WhalepigJun/Competition_CAUST/blob/main/%EC%83%81%EA%B6%8C%EB%B3%84_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# 추정 매출 data
sales2013 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2013.csv", encoding="CP949")
sales2014 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2014.csv", encoding="CP949")
sales2015 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2015.csv", encoding="CP949")
sales2016 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016.csv", encoding="CP949")
sales2017 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2017.csv", encoding="CP949")
sales2018 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2018.csv", encoding="CP949")
sales2019 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv", encoding="CP949")
sales2020 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정매출/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2020.csv", encoding="CP949")

In [5]:
# 2013년부터 2020년 데이터 칼럼명을 동일하게 세팅 (2017년을 기준으로 맞춤)
for i in range(2013,2021):
  locals()["sales" + str(i)].columns = sales2017.columns

In [6]:
sales = pd.concat([sales2013,sales2014,sales2015,sales2016,sales2017,sales2018,sales2019,sales2020])
sales["induty_cd"] = sales["svc_induty_cd"].str[:3]

In [106]:
# 방송 점포 포함 또는 주변 전통시장, 골목상권
chungpa = ["청파로47길","청파로47나길","원효로89길","한강대로 88길","두텁바위로1길"]
joonggokdong = ["긴고랑로9길","중곡제일시장","긴고랑로7길","긴고랑로8길","용마산로21길","긴고랑로20길"]
seongnae = ["천호대로162길","천호옛길","천호옛14길","풍성로37가길","천호대로170길"]
chang = ["노해로60길","도봉로109길","도봉로114길","쌍문역골목시장"]
hoegi = ["경희대로3길","경희대로4길","회귀시장"]
seongsu = ["뚝섬로5길","상원길","성수일로6길","아차산로5길","왕십리로6길"]
hongeun = ["포방터시장"]
dunchon = ["천호대로187길","명일로13길","양재대로96길"]
hongje = ["세무서길","세무서2길"]
jeongneung = ["정릉아리랑시장","정릉로26길","정릉로27길"]
gongneung = ["공릉동도깨비시장", "동일로192길"]
haebangchon = ["신흥시장","신흥로20길","소월로20길"]

input = [chungpa, joonggokdong, seongnae, chang, hoegi, seongsu, hongeun, dunchon, hongje, jeongneung, gongneung, haebangchon]

#input = {"chungpa":chungpa, "joonggokdong":joonggokdong, "seongnae":seongnae, "chang":chang, 
#         "hoegi":hoegi, "seongsu":seongsu, "hongeun":hongeun, "dunchon":dunchon, "hongje":hongje, 
#         "jeongneung":jeongneung, "gongneung":gongneung, "haebangchon":haebangchon}

In [107]:
# 필요한 컬럼
col_ = ["stdr_yy_cd", "stdr_qu_cd", "thsmon_selng_amt", "thsmon_selng_co", "ml_selng_amt",	"fml_selng_amt",	"agrde_10_selng_amt",	"agrde_20_selng_amt",	"agrde_30_selng_amt",	"agrde_40_selng_amt",	"agrde_50_selng_amt",	"agrde_60_above_selng_amt"]

# 필요 데이터 생성 함수
def sales_by_sanggwon(area):
  rdf = sales[sales["trdar_cd_nm"].isin(area) & sales["induty_cd"].isin(["CS1","CS3"])]
  rdf = rdf.groupby(["stdr_yy_cd","stdr_qu_cd"]).sum().reset_index()[col_]
  return rdf

In [108]:
s_data = sales_by_sanggwon(input[0])
s_data["area"] = 0
for i in range(1,len(input)):
  temp = sales_by_sanggwon(input[i])
  temp["area"] = i
  s_data = pd.concat([s_data,temp])

In [109]:
s_col = ["area"] + col_

In [110]:
# 매출 data
s_data[s_col]

    area  stdr_yy_cd  ...  agrde_50_selng_amt  agrde_60_above_selng_amt
0      0        2013  ...          2397434040                 977660018
1      0        2013  ...          2788034865                1056891288
2      0        2013  ...          2326940468                1048431020
3      0        2013  ...          2809338971                 970006787
4      0        2014  ...          2451223090                1054715667
..   ...         ...  ...                 ...                       ...
25    11        2019  ...          1187492312                 987184143
26    11        2019  ...          1159736568                 957780563
27    11        2019  ...          1016210332                 737700117
28    11        2020  ...           743887555                 863428458
29    11        2020  ...           899096004                 851799467

[360 rows x 13 columns]

In [7]:
# 추정 유동인구 data
f_pop = pd.read_csv("/content/drive/My Drive/Colab Notebooks/응통통계공모전/data/추정유동인구/서울시 우리마을가게 상권분석서비스(상권-추정유동인구)_2020.csv", encoding="CP949")

In [95]:
def f_pop_by_sanggwon(area):
  rdf = f_pop[f_pop["상권_코드_명"].isin(area)]
  rdf = rdf.groupby(["기준 년코드","기준_분기_코드"]).sum().reset_index()
  return rdf

In [96]:
f_pop_data = f_pop_by_sanggwon(input[0])
f_pop_data["area"] = 0
for i in range(1,len(input)):
  temp = f_pop_by_sanggwon(input[i])
  temp["area"] = i
  f_pop_data = pd.concat([f_pop_data,temp])

In [101]:
f_pop_col = ["area","총_유동인구_수","남성_유동인구_수","여성_유동인구_수","연령대_10_유동인구_수","연령대_20_유동인구_수","연령대_30_유동인구_수","연령대_40_유동인구_수","연령대_50_유동인구_수","연령대_60_이상_유동인구_수"]

In [102]:
# 유동인구 data
f_pop_data[f_pop_col]

    area  총_유동인구_수  남성_유동인구_수  ...  연령대_40_유동인구_수  연령대_50_유동인구_수  연령대_60_이상_유동인구_수
0      0    856355     453145  ...         190729         144854             69413
1      0   1169022     626364  ...         250868         204842            109016
2      0   1266397     684248  ...         282242         227843            120418
3      0   1105665     579818  ...         246582         190059             87258
4      0    998864     518669  ...         226616         169651             85765
..   ...       ...        ...  ...            ...            ...               ...
21    11   1577077     700050  ...         227644         184176            406538
22    11   1553220     690518  ...         218988         182914            400816
23    11   1677951     755076  ...         243478         193712            422177
24    11   1688218     782641  ...         256539         204418            425179
25    11   1655894     763635  ...         257973         197196            411228

[312 rows x 10 columns]